{% extends 'main.html' %}
{% block content %}
<style>
    .comm {
        height: 100px;
        background-color: white;
    }

    .comm1 {
        position: relative;
        left: 5%;
        top: 10%;
        width: 90%;
        height: 80%;
        background-color: brown;
    }
</style>
<div class="container" style='margin-top:30px;'>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" style='background-color: beige;'>
                {{ article.id }}번
            </div>
            <div class="panel-heading">{{ article.title }}</div>
            <div class="panel-body">{{ article.content }}</div>
            <div class="panel-body">
                <img src="/media/{{ article.image }}">
            </div>
            <br>
            <div class="container text-center">
                <div id="map" style="width:500px; height:400px; margin:0 auto;"></div>
            </div>
            </br>
            <div class="panel-body">
                <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=38d34c29c097c5f5c8c02416cb4aefff"></script>
                <script>
                    var container = document.getElementById('map');
                    var lat = 37.4980239
                    var lng = 127.027572
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            lat = position.coords.latitude
                            lng = position.coords.longitude

                            var options = {
                                center: new kakao.maps.LatLng(lat, lng), // 강남역
                                level: 4
                            };

                            var map = new kakao.maps.Map(container, options);
                            var markerPosition = new kakao.maps.LatLng(lat, lng);
                            var marker = new kakao.maps.Marker({
                                position: markerPosition
                            });
                            marker.setMap(map);
                        });
                    }
                </script>
            </div>
            <div class="panel-footer">{{ article.user.name }}</div>
        </div>
    </div>
</div>
<div class="container text-right">
    <a href='/articlewrite/list_buy/' class="btn btn-default" id="list">목록</a>
    <a href='/articlewrite/update_buy/{{ article.id }}/' class="btn btn-default" id="update">수정</a>
    <a href='/articlewrite/delete_buy/{{ article.id }}/' class="btn btn-default" id="delete">
        삭제
    </a>
</div>
<div class="container text-center">
    <form method="post" action="/articlewrite/write_buy/" enctype="multipart/form-data">
        {% csrf_token %}
        </div>
    </form>
</div>
<!-- 댓글 등록 -->
<!-- <div>
    <div class="comm">
        <div class="comm1">
            {% for qe in name_list %}
            <div class="content_place">

                <div class="place1">
                    <div class="empty"></div>
                    <div class="conte">{{qe.comment.content}}</div>
                    <div class="delete"></div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container text-right">
    <a href='#' class="btn btn-default" id="list">등록</a>
</div> -->
<div id="disqus_thread" style="padding : 100px;"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://project-5dt8yvp3tn.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
{% endblock %}