{% extends 'base.html' %}
{% block content %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://media.bunjang.co.kr/images/nocrop/486182774.jpg/" alt="Image">
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <img src="https://media.bunjang.co.kr/images/nocrop/499842028.jpg/" alt="Image">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container text-center">
  <br>
  <h3>추천 아이템!</h3></br>
</div>

<div class="container">
  <div class="low">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">그리즈만 유니폼 팝니다@@</a></div>
        <div class="panel-body"><a href="/articlewrite/detail_buy/15/"><img
              src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/104418038_579644929216111_7395069491431272563_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=UM8vPKUK9ZkAX9m-y_X&oh=66d1c910932034c908cdf928869f18e6&oe=5F5EAA05"
              class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">핫한 아이템!!</div>
        <div class="panel-body"><a href="/articlewrite/detail_buy/16/"><img
              src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/92215504_154844255867788_1537106786054113068_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=104&_nc_ohc=5zsdg1cqE2wAX-2zQX5&oh=29084ec1fcdd57781454577419c8c58e&oe=5F605C5E"
              class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">유니폼 팝니다~</div>
        <div class="panel-body"><a href="/articlewrite/detail_buy/15/"><img
              src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/e35/79366255_474250059947398_1603904779430183083_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=tT1avH94hfkAX80Xz00&oh=d0a41ed2dc63e95e0d6845581b66985a&oe=5F5EF32C"
              class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"></div>
      </div>
    </div>
  
  
    
      <div class="col-sm-4">
        <div class="panel panel-danger">
          <div class="panel-heading">$$$$$$</div>
          <div class="panel-body"><a href="/articlewrite/detail_buy/16/"><img
                src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/e35/80619982_2463164350669603_3089700705950238972_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=XfnN-nFRn6UAX8PHaVf&oh=4e29cb97641f255d7f85082bb9f995e3&oe=5F5F2E25"
                class="img-responsive" style="width:100%" alt="Image"></a></div>
          <div class="panel-footer"></div>
        </div>
      </div>
      
        
          <div class="col-sm-4">
            <div class="panel panel-success">
              <div class="panel-heading">#######</div>
              <div class="panel-body"><a href="/articlewrite/detail_buy/15/"><img
                    src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/81531390_111648430172743_7056052551643064059_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=9tAw3etv-mIAX_i0_87&oh=de1ee316931e06ad65d85009995b0e30&oe=5F60D0AE"
                    class="img-responsive" style="width:100%" alt="Image"></a></div>
              <div class="panel-footer"></div>
            </div>
          </div>
          
            
              <div class="col-sm-4">
                <div class="panel panel-primary">
                  <div class="panel-heading">@@@@@@@</a></div>
                  <div class="panel-body"><a href="/articlewrite/detail_buy/15/"><img
                        src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/e35/69877202_950927228621310_7512756599792857512_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=106&_nc_ohc=OV7T7IiVRL4AX91M5II&oh=91620c250ce8eb660e00eafb845b41ed&oe=5F5FBBF5"
                        class="img-responsive" style="width:100%" alt="Image"></a></div>
                  <div class="panel-footer"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


          <br>



          {% endblock %}