{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <form method="post" action="/signin/">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">ID</label>
                <input type="text" class="form-control" id="email" name="email"">
            </div>
            <div class="form-group">
                <label for="pwd">PW</label>
                <input type="password" class="form-control" id="pwd" name="pwd">
            </div>
            <button class="btn btn-primary btn-block" id="signin">로그인</button>
        </form>
        <br>
        <form action="/signup/">
            <button class="btn btn-danger btn-primary btn-block" id="signup"><a h>회원가입</button>
        </form>
    </div>
</div>
{% endblock %}